html,body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    /*background-color: #096de5!important;*/
    overflow: hidden;
    width:100%;
    height:100%;
    background:url(/images/loginBackground.png) no-repeat center;
    background-size:100% 100%;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
ul li{
    list-style: none;
}
.login-container{
    margin-top:35px;
    height: 45px;
}
.loginlogo{
    margin-left: 50px;
    height: 80px;
}
.loginlogo span {
    font-size: 19px;
    vertical-align: bottom;
    color:#feb902;
}
.slideShow {
    position: relative;
    margin: 0 auto 10px;
    padding: 0;
}
.carousel-inner{
    padding-left: 26%;
}
.widget-body {
    background: rgba(255,255,255,0.25);
    padding: 16px 36px 36px;
}
.block{
    display: block;
}
.login-container-foot {
    background: url(/images/login_yun.png);
    height: 95px;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.align-center, .center {
    text-align: center!important;
}
.blue {
    color: #478fca!important;
}
#RandCode:hover,#RandCode:link,#RandCode:focus{
    color:white
}
#id-company-text{
    margin-top: 60px;
}
.align-right{
    text-align: right;
}
.padding-lr-36 {
    height: 0px;
    padding: 16px 45px !important;
}
.whitecolor{
    color: white;
}

.btn-sm {
    border-width: 1px;
    font-size: 12px;
    padding: 2px 8px;
    line-height: 1.8;
    background-color: #096de5;
    border: 1px solid white!important;
}
.btn-sm:hover{
    background-color: white!important;
}
#login-box>.widget-body {
    background: rgba(255,255,255,0.25);
    border-radius:10px;
    width:450px;
    height:300px;
    margin-left:50px;
    margin-top:100px;
}
.login-layout .widget-box .widget-main {
    padding: 16px 36px 36px;
    background: rgba(255,255,255,0.25);
}
.input-icon > input {
    color: #fff;
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: none;
    color: white;
    border: none;
    padding-left: 36px;
    /*margin-top: 10px;*/
    box-shadow: none;
}
.input-icon > input:active{
    box-shadow: none;
}
#ValidateCode{
    width: 60%;
    display: inline-block;
}
span.input-icon {

    border-bottom: 1px solid rgb(255, 255, 255);

}
.btn-login, .btn-login:focus {
    background-color: #ea9c21 !important;
    border: 0;
    border-radius: 4px;
    width: 90%;
    margin-top: 40px;

}
.width-45{
    width: 45%;
    margin-top: 40px;
    border: 1px solid white!important;
    color: white;
}
.width-45:hover{
    background: white;
}
/*placeholder字体颜色*/
 input::-webkit-input-placeholder{
      color: white!important;
    }
 :-moz-placeholder {
      color: white!important;
 }
 :-ms-input-placeholder {
      color: white!important;
 }
 input:focus{
     box-shadow:none!important;
 }
 .white{
     color:white;
 }
 a{
     text-decoration:none;
 }
 a:hover,a:focus{
     /*color:white!important;*/
     text-decoration:none!important;
 }
 .red{
     color:red;
 }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1100px #3a569c inset !important;/*关于解决输入框背景颜色*/
        -webkit-text-fill-color: #ccc!important;/*关于接输入框文字颜色*/
    }