{% load  static  %} 
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>登录-智能移动资产平台</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/login.css">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/login.js?v=0.4"></script>
</head>
<body style="background:url(/static/img/loginBackground.gif) no-repeat center;">
<div class="main-container">
    <div class="main-content" style="box-shadow:none">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-container">
                    <div class="loginlogo">
                        <img src="/static/img/logo.png">
                        <!--<span class="orange2" id="id-text2" lang>久通物联移动资产云服务平台</span>-->
                    </div>
                    <div class="position-relative col-sm-7">
                       
                    </div>
                    <div class="position-relative col-sm-3 ">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <form>
                                        <fieldset>
                                            <input type="hidden" id="isCommon" value="false" />
                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-left" style="height:40px">
                                                        <input type="text" class="form-control" autocomplete="off" placeholder="用户名" id="ManagerName"/>
                                                        <i class="glyphicon glyphicon-user" style="top:-25px;left:5px;color:white"></i>
                                                    </span>
                                            </label>

                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-left" style="height:40px">
                                                        <input type="password" class="form-control" placeholder="密码" id="ManagerPsw"/>
                                                        <i class="glyphicon glyphicon-lock" style="top:-25px;left:5px;color:white"></i>
                                                    </span>
                                            </label>

                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-left" style="height:40px">
                                                        <input type="text" class="form-control width-55 inline-block" id="ValidateCode" placeholder="验证码" onfocus="GetValidateCode()" />
                                                        <i class="glyphicon glyphicon-comment" style="color:white;left:-60%"></i>
                                                        <div style="display:inline-block">
                                                            <img id="ValidateCodeImg" src="">
                                                            <a href="#" class="white" id="RandCode" lang>换一个</a>
                                                        </div>
                                       
                                                    </span>
                                            </label>

                                            <label class="block clearfix">
                                                    <span class="block red" id="req_Message">
                                                    </span>
                                            </label>
                                            <div class="space"></div>

                                            <div class="clearfix center">
                                                <button type="button" class="width-90 btn btn-login radius-4" id="Login">
                                                    <span class="bigger-110" lang>登录</span>
                                                </button>
                                                <a type="button" class="width-90 btn btn-login radius-4" id="Login" href="register/">
                                                    <span class="bigger-110" lang>注册</span>
                                                </a>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                    <!--<div class="space-16"></div>
                                    <div class="toolbar clearfix center">
                                        <a type="button" data-target="#forgot-box" class="width-45 btn btn-null radius-4">
                                            <span class="bigger-110" lang>忘记密码</span>
                                        </a>
                                        <a href="#" type="button" class="width-45 btn btn-null radius-4">
                                            <span class="bigger-110" lang>新用户注册</span>
                                        </a>
                                    </div>-->
                                </div><!-- /.widget-main -->


                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->

                        <div id="forgot-box" class="forgot-box widget-box no-border" style="display: none">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger" lang>Retrieve Password</h4>

                                    <div class="space-6"></div>
                                    <p lang>Please Fill With Your Email Information</p>

                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-left">
                                                        <input type="email" class="form-control" placeholder="Email" id="Email" />
                                                        <i class="ace-icon fa xj-envelope"></i>
                                                    </span>
                                            </label>

                                            <div class="clearfix">
                                                <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                    <span class="bigger-110" id="ForgetPassword" lang>Send</span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link" lang>Return Login</a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->

                    </div><!-- /.position-relative -->

                    <div class="navbar-fixed-top align-right whitecolor padding-lr-36">

                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-sm btn-null dropdown-toggle">
                                <span class="caret"></span>
                                <span lang>语言选择</span>
                                <span class="ace-icon fa xj-login-sanjiao"></span>
                            </button>
                            <ul class="dropdown-menu logindrop dropdown-menu-right dropdown-caret dropdown-close padding-6">
                                <li>
                                    <a class="inline-block" href="index.html" id="zhBtn"><img src="/images/cn.png"> 简体中文</a>
                                </li>
                                <li>
                                    <a class="inline-block" href="indexEN.html" id="enBtn"><img src="/images/en.png"> English</a>
                                </li>
                                <!--<li>
                                    <a class="inline-block" href="#"><img src="/images/xibanya.png"> España</a>
                                </li>
                                <li>
                                    <a class="inline-block" href="#"><img src="/images/alianqiu.png"> عربي </a>
                                </li>-->
                            </ul>
                        </div>

                        <!--<div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-sm btn-null dropdown-toggle">
                                App
                                <span class="ace-icon fa xj-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu logindrop dropdown-menu-right dropdown-caret dropdown-close padding-6">
                                <li>
                                    <a class="inline-block"><i class="ace-icon fa xj-iphone"></i> iphone</a>
                                </li>
                                <li>
                                    <a class="inline-block"><i class="ace-icon fa xj-Android"></i> Android</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<div class="space-18"></div>
<!--<div class="login-container-foot ">
    <div class="col-sm-8">
        <div class="space-16"></div>
        <div class="space-18"></div>
        <div class="center"><div class="blue" id="id-company-text">粤ICP备08129613 版权所有 Copyright(C)2001-2017 深圳市久通物联科技股份有限公司</div></div>

    </div>
    <div class="col-sm-4">
        <div class="inline-block clearfix" style="margin-left:126px;position: relative;">
            <img src="/images/erweima.png" width="100" height="100" style="position: fixed;right: 34%;display:block;bottom:20px">
        </div>
        <div class="inline-block" style="margin-left:10px; vertical-align:bottom">
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
    </div>
</div>-->
</body>
</html>
